www/webservices/commun/wsdl/equipes.wsdl

<?xml version="1.0"?>
<!-- partie 1 : Definitions -->
<definitions 	name="Equipes" 
   targetNamespace="http://opera/webservices/portailV2/wsdl/Equipes.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://opera/webservices/portailV2/wsdl/Equipes.wsdl"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:opera="http://opera/webservices/">
 
 	<!-- partie 2 : Types -->
	<types>
	   <xsd:schema targetNamespace="http://opera/webservices/" xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="sortie">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="XML"/>
					<xsd:enumeration value="JSON"/>
				</xsd:restriction>	
			</xsd:simpleType>
			<xsd:simpleType name="rechercheExacte">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OUI"/>
					<xsd:enumeration value="NON"/>
				</xsd:restriction>	
			</xsd:simpleType>
	   </xsd:schema>
	</types>
 
 
	<!-- partie 3 : Messages -->
	<message name="getCollaborateursEquipeRequest">
		<part name="equipe" type="xsd:string"/>
		<part name="sortie" type="opera:sortie"/>
	</message>
	<message name="getCollaborateursEquipeResponse">
		<part name="return" type="xsd:string"/>
	</message>
	
	
	
	
	<!-- partie 4 : Port Type -->
	<portType name="EquipesPort">
		<!-- partie 5 : Operation -->
		<operation name="getCollaborateursEquipe">
			<input message="tns:getCollaborateursEquipeRequest"/>
			<output message="tns:getCollaborateursEquipeResponse"/>
		</operation>
	</portType>
 
	<!-- partie 6 : Binding -->
	<binding name="EquipesBinding" type="tns:EquipesPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getCollaborateursEquipe">
			<soap:operation soapAction="EquipesAction"/>
			<input>
				<soap:body 	
						use="encoded" 	
						namespace="urn:examples:Equipes" 	
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body 	
						use="encoded" 	
						namespace="urn:examples:Equipes" 
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
	
		
	</binding>
 
	<!-- partie 7 : Service -->
	<service name="EquipesService">
		<documentation>Listes des Equipes du portail OPERA</documentation>
		<!-- partie 8 : Port -->
		<port name="EquipesPort" binding="tns:EquipesBinding">
			<soap:address location="http://opera/webservices/commun/services/Equipes.php"/> 
		</port>
	</service>
</definitions>
